body{
 background-color: rgb(244, 242, 242);
  margin: 0;
  padding: 0;
}
  
h1{
 color: white;
 font-family: fantasy;
 font-weight: 100;
 margin-left: 1rem;
}
  
h2{
  font-family: fantasy;
  font-weight: 100;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
  
  .title-text{
  font-family: fantasy;
  font-weight: 100;
  font-size: 250%;
}
  
.text-div{
  font-family: sans-serif;
  min-width: 100%;
  margin-bottom: 3rem;
}
  
p{
  font-family: sans-serif;
}
  
a{
  font-family: fantasy;
  font-weight: 100;
  text-decoration: none;
  color:white;
}
  
.contet-div{
  display: flex;
  margin-top:5%;
  background-color: rgb(244, 242, 242);
  max-width: 70%;
}
  
.p-1{
  box-shadow: 3px 3px 10px black;
  background-color:white;
  display: flex;
  align-items: start;
  gap:2rem;
  justify-content: center;
  border-left: 10px solid black;
  border-radius: 8px;
  max-width: 100%;
  padding-left: 1rem;
  margin-bottom:2rem ;      
}
  
.p{
  max-width: 60%;
  margin: 0;
  padding: 0;
  }
  
.p-1:hover{
  size: 110%;
  transform: scale(103%) ;
  transition: transform 1s;
  background-color: white;
}
  
  
html{
  scroll-behavior: smooth;
}
  
section{
  display: flex;
  justify-content:center;
  gap:0;
  padding: 0;
  }
  
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #232323;
}
  
  
    
.menu a {
  float: left;
  font-size: 110%;
  font-family: fantasy;
  font-weight: 100;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
    
.menu-sub {
  float: left;
  overflow: hidden;
  font-family: fantasy;
  font-weight: 100;
}
    
.menu-sub .btn {
  font-size: 110%;
  border: none;
  outline: none;
  color: white;
  padding: 1rem 16px;
  background-color: #232323;
  font-family: fantasy;
  font-weight: 100;
  margin: 0;
}
    
.menu a:hover, .menu-sub:hover .btn {
  background-color: #1f1f1f;
}
    
.menu-sub-content {
  display: none;
  position: absolute;
  justify-content: end;
  background-color: #c0c0c0;
  max-width: 13%;
  z-index: 1;
}
    
.menu-sub-content a {
  color: white;
  text-decoration: none;
}
    
.menu-sub-content a:hover {
  background-color: inherit;
  color: black;
}
    
.menu-sub:hover .menu-sub-content {
  display:block;
}
  
.botom{
  display: flex;
  background-color:  #232323;
  align-items: center;
  justify-content: center;
  gap:3rem;
}
    
  .botom-text{
    color:white;
    margin-block:1rem;
    font-family: fantasy;
    font-weight: 25;
    font-size: 110%;
  }
  
.uimg{
  padding: 0;
  margin: 0;
  margin-right: 2px;
  max-width: 40%;
  max-height: 100%;
}
  
  .inside{
    margin: 1rem;
  }

.nav-link{
  display: none;
  color: white;
 
}
  
  
.hamburger-button {
  all: unset;
  display: none;
  place-items: center;
}
  
.primary-navigation {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
  
  
@media (width < 480px) {
.menu{
position: fixed;
min-width: 100%;

}
.p-1{
  flex-direction: column;
}
.uimg{
  max-width: 90%;
}
.menu-sub{
  display: none;
}
.nav-link{
  display: block;
}
.primary-navigation {
  position: fixed;
  inset: 0;
  z-index: 999;
  top: 4rem;
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;     
  padding: 4rem 2rem; 
  background: darkgray;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out,
  opacity 250ms ease-in-out;
}
.primary-navigation.open {
  transform: translateX(0);
  opacity: 1;
}
.hamburger-button{
       margin-left: 12rem;
       display: grid;
  }
}